# Built-In Data Structures

# Lists
<li>the basic ordered and mutable data collection type in Python 
<li> can be defined with comma-separated values between square brackets

In [3]:
L = [2, 3, 5, 7]

In [4]:
# Length of a list 
len (L)

4

In [ ]:
# Append a value to the end 

L.append(11)

L

[2, 3, 5, 7, 11, 11, 11, 11]

In [12]:
# Addition concatenates lists 

L + [13, 17, 19]

[2, 3, 5, 7, 11, 11, 11, 11, 13, 17, 19]

In [13]:
# Sort() method sorts in-place 

L= [2, 5, 1, 6, 3, 4]
L.sort()
L

[1, 2, 3, 4, 5, 6]

In [14]:
L = [1, 'two', 3.14, [0, 3, 5]]

In [15]:
L= [2, 3, 5, 7, 11]

In [16]:
L[0]

2

In [17]:
L[1]

3

In [18]:
L[-1]

11

In [19]:
L[-2]

7

In [20]:
L[0:3]

[2, 3, 5]

In [21]:
L[:3]

[2, 3, 5]

In [22]:
L[-3:]

[5, 7, 11]

In [23]:
L[1:3]

[3, 5]

In [25]:
L[::2] #equivalent to L[0:len(L):2] --> The len(L) explicitly states "go to the end of the list," which is the same behavior as omitting the stop index.

[2, 5, 11]

In [26]:
L[::-1]

[11, 7, 5, 3, 2]

In [27]:
L[0]=100 
print(L)

[100, 3, 5, 7, 11]

In [29]:
L[1:3] = [55, 56]
print(L)

[100, 55, 56, 7, 11]

# Tuples

<li> similar to lists but they are defined with parantheses rather than square brackets:

In [30]:
t= (1,2,3)

<li> they can also be defined without any brackets at all:

In [2]:
t = 1, 2, 3
print(t)

(1, 2, 3)

In [3]:
len(t)

3

In [4]:
t[0]

1

In [6]:
t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [7]:
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
x = 0.125 
x.as_integer_ratio()

(1, 8)

In [9]:
numerator, denominator = x.as_integer_ratio()
print(numerator/denominator)

0.125

# Dictionaries

<li>extremely flexible mappings of keys to values, and form the basis of much of Python's internal implementation 
<li>can be created via a comma-separated list of key: value pairs within curly braces

In [10]:
numbers = {'one': 1, 'two': 2, 'three': 3}

In [11]:
#Access a value via the key

numbers['two']

2

In [12]:
#Set a new key:value pair 

numbers['ninety'] = 90 
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'ninety': 90}